<div class="container">
  <h2 class="title is-2 has-text-centered">Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()" >
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" formControlName="username" placeholder="username" required>
             <p class="help is-danger" *ngIf="loginForm.controls['username']?.touched && loginForm.controls['username']?.errors">
             Username is required.
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input
          class="input"
          placeholder="Password"
          type="password"
          formControlName="password"
          required
        >
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <p class="help is-danger" *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password']?.errors?.['required']">
        Password is required.
      </p>
    </div>

    <div *ngIf="loginForm && loginForm.invalid" class="notification is-danger">
      Please fill out all required fields.
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="button is-primary is-fullwidth mt-3">Login</button>
  </form>

  <p class="mt-3 has-text-centered">Forgot password? <a routerLink="/reset-password">Reset password here</a></p>
  <p class="mt-3 has-text-centered">Don't have an account? <a routerLink="/register">Register here</a></p>

  <div class="has-text-centered">
    <hr class="divider">
      <p class="mt-3 or-text has-text-grey">OR</p>
    <hr class="divider">
  </div>

  <div class="google-card">
    <app-google-login-card></app-google-login-card>
  </div>
</div>
