<div class="app-container">
  <header class="hero is-primary is-bold has-text-centered">
    <div class="container">
      <h1 class="is-centered is-vcentered" style="margin-bottom: 0;">Wallet</h1>
    </div>
  </header>

  <main class="section has-text-centered">

    <div>
      <app-login-logout-button></app-login-logout-button>
    </div>  

    <app-tabs></app-tabs> 
    
    <router-outlet></router-outlet>
 
  </main>

  <footer class="has-background-primary has-text-white has-text-centered">
    <div class="content">
      <p class="">&copy; 2023 Footer</p>
    </div>
  </footer>
</div>
