<div class="register-container">
    <div [formGroup]="registerForm" class="register-content">
        <p class="title">Reset password</p>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="username" matInput type="text">
            <mat-error *ngIf="registerForm.controls['username'].hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="registerForm.controls['username'].hasError('email')">Invalid email</mat-error>
        </mat-form-field>

        <p class="alternative">Already have an account? <span [routerLink]="['/login']">Login</span></p>
        <button class="btn btnFill is-primary is-fullwidth mt-3" (click)="resetPassword()" [disabled]="registerForm.invalid">Reset password</button>
    </div>
</div>
