.google-card-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.google-logo {
  max-width: 100%;
}

.login-text {
  font-size: 18px;
  color: #333;

}
